.boot-select {
  width: 220px;
  margin-bottom: 10px;
}
.boot-select .btn {
  width: 100%;
}
.boot-select .btn .text {
  clear: left;
  float: left;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 175px;
}
.boot-select .btn .placeholder {
  display: none;
  color: #757575;
}
.boot-select .btn .actions {
  float: right;
}
.boot-select .btn .actions .clear {
  position: relative;
  top: -1px;
  padding-left: 5px;
}
.boot-select .btn .actions .toggle {
  padding-left: 5px;
}
.boot-select .dropdown-menu {
  padding: 0;
  display: block;
  visibility: hidden;
  overflow: auto;
  max-height: 150px;
  min-width: 100%;
  max-width: 450px;
}
.boot-select .dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.boot-select .dropdown-menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.boot-select .dropdown-menu ul li a {
  clear: both;
  color: #333333;
  display: block;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
  padding: 4px 6px;
}
.boot-select .dropdown-menu ul li.active a,
.boot-select .dropdown-menu ul li a:focus,
.boot-select .dropdown-menu ul li a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.boot-select .dropdown-menu .nano .pane {
  width: 5px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.boot-select .dropdown-menu .nano .pane .slider {
  margin: 0;
}
.controls .boot-select {
  margin-bottom: 0;
}
/* Helpful classes */
select.input-mini,
.btn.input-mini,
.btn-group.input-mini {
  width: 74px;
}
select.input-small,
.btn.input-small,
.btn-group.input-small {
  width: 104px;
}
select.input-medium,
.btn.input-medium,
.btn-group.input-medium {
  width: 164px;
}
select.input-large,
.btn.input-large,
.btn-group.input-large {
  width: 224px;
}
select.input-xlarge,
.btn.input-xlarge,
.btn-group.input-xlarge {
  width: 284px;
}
select.input-xxlarge,
.btn.input-xxlarge,
.btn-group.input-xxlarge {
  width: 544px;
}
select.input-block-level,
.btn.input-block-level,
.btn-group.input-block-level {
  width: 100%;
}
select.input-mini,
.btn.input-mini,
select.input-small,
.btn.input-small,
select.input-medium,
.btn.input-medium,
select.input-large,
.btn.input-large,
select.input-xlarge,
.btn.input-xlarge,
select.input-xxlarge,
.btn.input-xxlarge,
select.input-block-level,
.btn.input-block-level {
  padding: 4px 6px;
}
